@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$primary-color: #3498db;
$secondary-color: #18171F;
$font-color: #ecf0f1;

body {
  font-family:"JetBrains Mono";
  background-color: $secondary-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 540px
}

.container h1 {
 font-size: 24px;
 font-weight: 700;
 line-height: 31.68px;
 color: #817D92;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.controls label {
  font-size: 18px;
}

.controls input {
  background-color: #18171F;
  color: #a4ffaf;
}

.strength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: #000;
}

.strength-container p {
  color: #817D92;
  font-weight: 700;
  font-size: 18px;
}

.strength-indicator {
  display: flex;
  gap: 10px;
  align-items: center;
}

.controls span {
  color: #a4ffaf;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.24px;
}

#password-length {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: transparent;
  outline: none;
  position: relative;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    background: linear-gradient(
      to right,
      #a4ffaf calc(var(--value-percent, 50%)),
      #000 calc(var(--value-percent, 50%))
    );
    height: 10px;
    border: none;
  }

  &::-moz-range-track {
    background: linear-gradient(
      to right,
      #a4ffaf calc(var(--value-percent, 50%)),
      #000 calc(var(--value-percent, 50%))
    );
    height: 10px;
    border: none;
  }

  &::-ms-track {
    background: transparent;
    height: 10px;
    border: none;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #A4FFAF;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.3s ease;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #A4FFAF;
    position: relative;
    transform: translateY(-50%);
    transition: background 0.3s ease;
    cursor: pointer;
  }

  &::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #A4FFAF;
    position: relative;
    cursor: pointer;
  }

  &:hover::-webkit-slider-thumb {
    background: #000;
  }

  &:hover::-moz-range-thumb {
    background: #000;
  }

  &:hover::-ms-thumb {
    background: #000;
  }
}


.options {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
}

.options input {
  border-radius: 3px;

}

.options input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.options input[type="checkbox"]:checked {
  background: #a4ffaf;
  border-color: #a4ffaf;
}

.options input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 4px;
  height: 8px;
  border: solid black;
  border-width: 0 2px 2px 0;
}

.options input[type="checkbox"]:hover {
  border-color: #a4ffaf;
}

input[type="range"] {
  width: 100%;
}

#password-display {
  font-size: 32px;
  background: #24232C;
  color: #817D92;
  display: flex;
  height: 80px;
  align-items: center;
  padding-left: 32px;
  word-wrap: break-word;
}

.output {
  position: relative;
}

#copy-password {
  background-color: transparent;
  position: absolute;
  top: 13px;
  right: 0
}

.controls-container {
  background: #24232C;
  padding: 32px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pass-val {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: $font-color;
  color: $primary-color;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}


.strength {
  font-weight: 700;
  font-size: 24px;
}

.strength-bars {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .bar {
    width: 10px;
    height: 28px;
    border: 2px solid #fff;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  .bar.too-weak {
    background-color: #f64a4a;
    border: 2px solid #f64a4a;
  }
  
  .bar.weak {
    background-color: #fb7c58;
    border: 2px solid #fb7c58;
  }
  
  .bar.medium {
    background-color: #f8cd65;
    border: 2px solid #f8cd65;
  }
  
  .bar.strong {
    background-color: #a4ffaf;
    border: 2px solid #a4ffaf;
  }

  #generate-password {
    background-color: transparent;
    border: 2px solid #A4FFAF;
    border-radius: 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #generate-password p{
    font-size: 18px;
    color: #A4FFAF;
    font-weight: 700;
  }
